HELP.md
.gradle
build/**
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# Project exclude paths
/rangiffler-auth/build/
/rangiffler-auth/build/classes/java/main/
/rangiffler-gateway/build/
/rangiffler-gateway/build/classes/java/main/
/rangiffler-geo/build/
/rangiffler-geo/build/classes/java/main/
/rangiffler-grpc-service/build/
/rangiffler-grpc-service/build/classes/java/main/
/rangiffler-photo/build/
/rangiffler-photo/build/classes/java/main/
/rangiffler-userdata/build/
/rangiffler-userdata/build/classes/java/main/